* {
    box-sizing: border-box;
    font-family: $fonte-principal;
}

html {
    height: 100vh;
}

/* Layout em Grid */

body {
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: $altura-cabecalho 1fr $altura-rodape;
    grid-template-areas:
        "cabecalho"
        "conteudo"
        "rodape";
    height: 100vh;
    background-color: #F5F5F5;
}

header.cabecalho {
    grid-area: cabecalho;
}

main.conteudo {
    grid-area: conteudo;
}

footer.rodape {
    grid-area: rodape;
}


.content {
    display: flex;
    padding-bottom: 15px;
    justify-content: space-between;
    width: 100%;
}

.editor {
    height: 300px;
    background: white;
}
.editor-container {
    flex-basis: 48%;
    flex-shrink: 0;
}

.code-container {
    background: white;
    border: 1px solid #999;
    overflow: auto;
    padding: 5px;
    flex-basis: 48%;
    flex-shrink: 0;
    max-height: 350px;
}

.code {
    font-family: monospace;
    overflow: auto;
    white-space: pre-wrap;
    width: 50%;
}